* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.navigation ul {
    position: relative;
}

.navigation ul li {
    text-align: center;
    list-style: none;
}

.navigation ul li a {
    color: #333;
    text-decoration: none;
    font-size: 3em;
    padding: 5px 20px;
    display: inline-flex;
    font-weight: 400;
    transition: 0.5s;
}

.navigation ul:hover li a {
    color: #0002;
}

.navigation ul li:hover a {
    color: #000;
    background: transparent;
}

 .navigation ul li a:before {
     content: '';
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     top: 50%;
     left: 50%;
     font-size: 5em;
     font-weight: bold;
     text-transform: uppercase;
     letter-spacing: 500px;
     color: rgba(0, 0, 0, 0.1);
     opacity: 0;
     z-index: -1;
     transform: translate(-50%, -50%);
     transition: letter-spacing 0.5s, left 0.5s;
 }

 .navigation ul li a:hover:before {
     content: attr(data-text);
     opacity: 1;
     letter-spacing: 10px;
     left: 50%;
     width: 1800px;
     height: 1800px;
 }
 
.navigation ul li:nth-child(6n+1) a:before {
    background: #cc9696;
}

.navigation ul li:nth-child(6n+2) a:before {
    background: #b4b3e7;
}

.navigation ul li:nth-child(6n+3) a:before {
    background: #b7ebce;
}

.navigation ul li:nth-child(6n+4) a:before {
    background: #ecd9a4;
}

.navigation ul li:nth-child(6n+5) a:before {
    background: #c2edf8;
}

@media only screen and (max-width: 775px) {
    .navigation ul li a:before {
        font-size: 5em;
    }
    .navigation ul li a {
        font-size: 1em;
    }
}